@import url('./common/layout.css');
@import url('../components/header/header.css');

.wrap {
    width: 100%;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 40px;

    justify-content: flex-start;
    row-gap: 16px;
}

h2 {
    font-size: 24px;
    font-weight: 700;
    line-height: 31px;
    letter-spacing: -0.02em;
    text-align: center;
    color: rgb(255, 255, 255);
}

.inputBox {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    width: 100%;
}

.inputBox label {
    font-size: 14px;
    line-height: 17px;
    letter-spacing: -0.02em;
    font-weight: 700;
    color: #cfff56;
    padding: 16px 16px;
    border-bottom: 1px solid #00000029;
}

.inputBox input {
    width: 100%;
    padding: 16px;
    color: rgb(255, 255, 255); /* 텍스트 색상 변경 */
    border: none;
    border-bottom: 2px solid #ffffff29;
    background-color: transparent;
    outline: none; /* 포커스 시 외곽선 제거 */
}

.inputBox textarea {
    width: 100%;
    padding: 16px;
    height: 200px;
    resize: none;
    color: rgb(255, 255, 255); /* 텍스트 색상 변경 */
    border: none;
    border-bottom: 1px solid #00000029;
    background-color: transparent;
    outline: none; /* 포커스 시 외곽선 제거 */
}

.wrap button {
    width: 80%;
    height: 33px;
    margin-top: 20px;
    border-radius: 30px;
    cursor: pointer;

    background-color: rgb(110, 160, 0);

    font-size: 14px;
    font-weight: 700;
    line-height: 16.8px;
    letter-spacing: -0.02em;
    text-align: center;
    color: rgb(0, 0, 0);

    border: none;
}

.non-border {
    border: none !important;
    padding: 0 1px !important;
}

.deleteFile {
    cursor: pointer;
    padding-left: 10px;
    color: red;
}

.helperText {
    color: #f00;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/* 플레이스홀더 텍스트 색상 변경 */
.inputBox input::placeholder,
.inputBox textarea::placeholder {
    color: rgb(176, 176, 176); /* 플레이스홀더 텍스트 색상 변경 */
}