.commentItem {
    display: flex;
    flex-direction: row;
    column-gap: 16px;
}
.commentItem .commentImg {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
}
.commentInfoWrap {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    width: 100%;

    word-break: break-all;
}

.commentInfoWrap p {
    color: #ffffff;
    word-break: break-all;
    font-weight: 400;
}

.commentInfoWrap div {
    display: flex;
    flex-direction: row;
    column-gap: 16px;
    align-items: center;
    width: 100%;
}
.commentInfoWrap span {
    margin-left: auto;
    display: flex;
    flex-direction: row;
    column-gap: 8px;
}
.commentInfoWrap div span button {
    padding: 5px 12px;
    border-radius: 8px;
    border: 1px solid rgba(241, 241, 243, 0.3);
    background-color: transparent;
    color: #000000;
    font-size: 15px;
}

.commentInfoWrap div h3 {
    color: rgb(206, 255, 163);
    font-size: 16px;
    font-weight: 700;
    line-height: 17px;
    letter-spacing: -0.01em;
    text-align: left;
}
.commentInfoWrap div h4 {
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: -0.01em;
    text-align: right;
    color: rgb(80, 80, 80);
}

.commentInfoWrap div button {
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: -0.01em;
    text-align: right;
    color: rgba(171, 174, 186, 1);
    margin-left: auto;

    border: none;
    background-color: #9b9b9b;
    cursor: pointer;
}
