@import url('../../components/dialog/dialog.css');
@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    position: relative;
    display: flex;
    flex-direction: column;
    padding-top: 5vh;
    justify-content: center;
    align-items: center;
    margin: 0 calc(50vw - 212.5px);
    /*border: 10px solid rgba(255, 255, 255, 0.3);*/
    background-color: #232323;
    /*overflow: hidden;*/
}

.wrap {
    width: 100%;
    min-height: 50vh;
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: rgba(255, 248, 230, 0.9);
    border-radius: 10px;
    opacity: 0; /* 초기 투명도 설정 */
    transform: scale(0); /* 초기 크기를 0으로 설정 */
    animation: scaleIn 1s forwards; /* 애니메이션이 종료된 후 최종 상태 유지 */
}

@keyframes scaleIn {
    0% {
        visibility: hidden;
        opacity: 0;
        transform: scale(0); /* 최소 크기에서 시작 */
    }
    50% {
        opacity: 0.5; /* 중간 투명도 */
    }
    100% {
        visibility: visible;
        opacity: 1;
        transform: scale(1); /* 원래 크기로 확대 */
    }
}

.background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: -1;
    background: url('/public/background/ocean.png');
    background-repeat: no-repeat;
    background-size: cover; /* 이미지가 화면을 덮으면서 비율을 유지하도록 변경 */
    background-position: center; /* 이미지를 화면 중앙에 위치 */
    background-attachment: fixed; /* 스크롤해도 이미지가 고정되도록 설정 */
}

.background::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /*background: rgba(0, 0, 0, 0.5);*/
}
.jua-regular {
    font-family: "Jua", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  